.topDateBy-container{
    text-align: center;
    font-size: 14px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 10px;
}
.topDateBy-container h5{
    font-size: 35px;
}

.topDateBy-container strong{
    font-size: 20px;
}
.switch-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.switch-container p{
    font-weight: 600;
    color: #332e2e;
}
